.navbar{
    color: "white";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 25px 150px;
}

.navbar-name{
    font-size: 40px;
    font-weight: 500;

    padding: 5px 10px;

    cursor: default;
    user-select: none;
}

.navbar-links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.navbar-links li{
    list-style-type: none;

    margin: 10px;

    cursor: pointer;
}

.color-mode-toggle{
}