@import "tailwindcss";

:root {
  font-family: "Poppins", sans-serif;
}

.darkmode{
  --base-color: #0e0d0e;
  --base-variant: #1b191c;
  --primary-text: #eeeeee;
  --secondary-text: #d7d7d8;
  --accent-color: #4e56c0;
  --opaque-color: #ffffff33;
  --border-color: #ffffff0d;
}

.lightmode{
  --base-color: #eeeeee;
  --base-variant: #e3e3e3;
  --primary-text: #0e0d0e;
  --secondary-text: #353238;
  --accent-color: #4e56c0;
  --opaque-color: #0000001a;
  --border-color: #0000000d;
}

body{
  background-color: var(--base-color);
  color: var(--primary-text);
  font-family: Poppins;
}
